.header-wrapper {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.footer-wrapper {
  background-color: #2f5d62;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
